.carousel {
  position: relative;
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  background-color: rgba(40, 36, 45, 0.8);
}

.carousel-images {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-img {
  min-width: 100%;
  display: none;
  object-fit: cover;
}

.carousel-img.active {
  display: block;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(211, 143, 34, 0.8);
  color: white;
  font-size: 2rem;
  border: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 50%;
  transition: background-color 0.3s;
  z-index: 10;
}

.carousel-btn:hover {
  background-color: rgba(224, 223, 226, 0.8);
  color: black;
}

.carousel-btn.prev {
  left: 10px;
}

.carousel-btn.next {
  right: 10px;
}
